@media(max-width: 991.5px){
    .navLinks{
        display: none !important;
    }
}
.navbar {
  background-color: #001f54; /* Navy Blue */
  color: white;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
}
